@charset "utf-8";
.gray{
	background-color: #F0F0F0;
}
.topBar{
	height: 31px;
	background-color: #F7F7F7;
	line-height: 31px;
}
.topBar a:hover{color: red;}
.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.leftArea{float: left;}
.rightArea{float: right;}
.collection{
	background: url("../image/icon/collection.png") left center/16px 16px no-repeat;
	padding-left: 19px;
	font-weight: bold;
}
.logoBar{
	height: 85px;
	background-color: #1D7AD9;
}
.logo{
	padding-left: 41px;
	padding-top: 13px;
}
.logo img{
	width: 112px;
	height: 59px;
}
.search_box{
	padding-left: 185px;
	padding-top: 23px;
	width: 430px;
}
.search_text{
	width: 350px;
	height: 35px;
	padding: 0 5px;
	background-color: #FFF;
}
.search_btn{
	width: 70px;
	height: 35px;
	font-size: 14px;
	font-family: "Microsoft YaHei", "微软雅黑";
	color: #FFF;
	background-color: #FF8C00;
}
.shopCar{
	width: 145px;
	height: 35px;
	background-color: #FF8C00;
	margin-top: 23px;
	font:14px/35px "Microsoft YaHei", "微软雅黑";
	color: #FFF;
	margin-right: 59px;
	display: inline;
}
.shopText{
	width: 87px;
	height: 100%;
	text-indent: 40px;
	background: url(../image/icon/cart.png) 10px center/23px 20px no-repeat;
	border-right: 1px solid #E27A00;
}
.shopNum{
	width: 27px;
	height: 35px;
	text-align: right;
	border-left: 1px solid #E27A00;
	background: url(../image/icon/down.png) 33px center/12px 12px no-repeat;
	padding-right: 29px;
}
.navBox{
	background-color: #1369C0;
	height: 35px;
	color: #FFF;
}
.shopClass{
	width: 190px;
	position: relative;
}
.nav, .shopClass h3{
	font-family: "Microsoft YaHei", "微软雅黑";
}
.shopClass h3{
	line-height: 35px;
	text-align: center;
}
.shopClass i{
	width: 11px;
	height: 7px;
	overflow: hidden;
	background: url(../image/icon/down1.png) left center no-repeat;
	display: inline-block;
	margin-left: 11px;
}
.shopClass_show{
	border-top: 1px solid #4593FD;
	background-color: #4593FD;
	position: absolute;
	left: 0px;
	margin-top: 35px;
	width: 100%;
}
.shopClass_item{
	height: 49px;
	padding: 14px 10px 0;
	border-bottom: 1px solid #3487F2;
	border-top: 1PX solid #5AA1FE;
	border-left: 1px solid #4593FD;
	border-right: 1px solid #4593FD;
}
.shopClass_item dt{
	background: url(../image/icon/right_sj.png) right center no-repeat;
}
.shopClass_item a{color: #FFF;}
.shopClass_item .b{
	font:14px/1 "Microsoft YaHei", "微软雅黑";
}
.shopClass_item .aLink{
	width: 48px;
	height: 20px;
	background: url(../image/icon/aLink_bg.png) left center no-repeat;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: underline;
}
.shopClass_list{
	width: 568px;
	border: 1px solid #CCC;
	position: absolute;
	left: 190px;
	top:35px;
}
.shopClass_cont{
	padding: 0px 20px;
}
.shopList_item{
	padding: 10px 0;
	border-bottom: 1px solid #CCC;
}
.shopList_item dt{
	color: #4B87D9;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
}
.shopList_item dd{
	padding-left: 68px;
	line-height: 24px;
	margin-top: -24px;
}
.shopList_item dd a{
	margin-right: 12px;
}
.shopList_links{
	padding: 15px 0;
}
.shopList_links a{
	color: #FFF;
	background-color: #2785E6;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	display: inline-block;
	padding: 0 14px 0 8px;
	margin-right: 10px;
}
.shopList_links span{
	width: 11px;
	height: 7px;
	background: url(../image/icon/right_sj.png) left center no-repeat;
	display: inline-block;
	margin-left: 7px;
}
.nav{line-height: 35px;}
.nav li{float: left;}
.nav .active{background-color: #4593FD;}
.nav a{
	height: 35px;
	display: inline-block;
	padding: 0 35px;
	color: #FFF;
}
/*面包屑导航*/
.crumbs{
	font-size: 0;
	font-family: Verdana;
	margin-top: 25px;
	margin-bottom: 15px;
}
.crumbs strong, .crumbs a, .crumbs em, .crumbs span{
	font-size: 12px;
}
.crumbs em{
	font-style: normal;
}

.detail{
	background-color: #FFF;
}
.description{
	border:1px solid #CCC;
}
.description .leftArea{
	width: 309px;
}
.description_imgs .big{
	height: 340px;
	text-align: center;
	padding-top: 23px;
}
.desc_smImg{
	width: 265px;
	margin:5px auto;
}
.desc_smImg li{
	float: left;
	padding: 2px;
 }
 .desc_smImg img{
 	border:1px solid #CCC;
 }
 .desc_smImg .active{
 	border-color: #317EE7;
 }
.description .rightArea{
	width: 688px;
	border-left: 1px solid #CCC;
}
.desc_content{
	padding: 10px;
}
.desc_content .desc_title{
	padding: 13px 17px;
}
.desc_content .dl{
	margin-bottom: 8px;
}
.desc_content .dt{
	width: 75px;
	float: left;
	color: #666;
	text-indent: 17px;
	line-height: 25px;
}
.desc_content .dd{
	padding-left: 75px;
}
.desc_money{
	font-size: 18px;
	color: #F30;
	font-family: Verdana;
}
.desc_money em{
	font-style: normal;
	font-size: 12px;
}
.hg{
	margin-top: 4px;
	display: inline-block;
}
.hg_icon{
	width: 55px;
	height: 18px;
	display: inline-block;
	background: url(../image/icon/tag.png) left top no-repeat;
	color: #FFF;
	font-style: normal;
	text-indent: 16px;
	line-height: 18px;
	margin-right: 10px;
}
.desc_position{
	background-color: #F2F2F2;
	padding: 15px 0;
}
.select{
	border:1px solid #999;
	height: 22px;
	line-height: 22px;
	float: left;
	background-color: #FFF;
	padding-left: 10px;
	padding-right: 20px;
	position: relative;
	z-index: 4;
}
.select h3{
	font-size: 12px;
	font-weight: normal;
}
.select span{
	position: absolute;
	right: 0;
	top:0;
	height: 100%;
	width: 20px;
	background: url(../image/icon/down_blue.png) center center no-repeat;
}
.show_select{
	border: 1px solid #999;
	position: absolute;
	left: -1px;
	top:22px;
	background-color: #FFF;
 	width: 100%;
 	display: none;
}
.stockInfo{
	line-height: 24px;
	padding-left: 10px;
}
.desc_content .colorSelect{
	line-height: 35px;
}
.desc_item_active{
	border-color: #317EE7;
	color: #333;
}
.desc_item{
	color: #666;
	padding: 9px 10px;
	border: 1px solid #CCC;
	float: left;
	background-color: #FFF;
	margin-right: 10px;
	margin-bottom: 8px;
}
.desc_content .verSelect{
	line-height: 55px;
}
.desc_item_sm{
	padding: 3px 7px;
	margin-bottom: 8px;
}
.desc_content .desc_num{
	line-height: 32px;
}
.desc_number{
	border:1px solid #B2B2B2;
	height: 32px;
	width: 82px;
	float: left;
}
.desc_number div{
	height: 100%;
	float: left;
}
.reduction{
	border-right: 1px solid #CCC;
}
.reduction, .plus{
	width: 15px;
	background: url(../image/icon/plus.png) left top no-repeat;
	line-height: 32px;
	text-align: center;
	color: #333;
}
.desc_input{
	width: 42px;
	background: url(../image/icon/input.png) left top no-repeat;
	padding: 0 4px;
}
.desc_input input{
	width: 100%;
	height: 100%;
	text-align: center;
}
.plus {
	border-left: 1px solid #CCC;
}
.buy_limit{
	line-height: 32px;
	float: left;
	padding-left: 10px;
	color: #656565;
}
.buy_limit em{
	font-style: normal;
	color: #FB7700;
	font-weight: bold;
	margin: 0 2px;
}
.desc_select{
	font-weight: bold;
	margin: 22px 0 12px;
	text-indent: 17px;
}
.desc_select span{
	color: #0479C9；
}
.shop_buy{
	text-align: center;
}
.shop_buy_btn{
	display: inline-block;
}
.shopping_btn, .buy_btn{
	display: inline-block;
	width: 168px;
	height: 48px;
	background-color: #E27A00;
	color: #FFF;
	line-height: 48px;
	text-align: right;
	font-size: 20px;
	padding-right: 16px;
	float: left;
	margin-top: 21px;
}
.shop_buy .line{
	width: 1px;
	height: 90px;
	overflow: hidden;
	background-color: #CCC;
	float: left;
	display: inline-block;
	margin: 0 40px;
}
.shopping_btn span, .buy_btn span{
	width: 48px;
	height: 48px;
	line-height: 48px;
	float: left;
	display: inline-block;
	background: url(../image/icon/cart.png) 16px center/30px 30px no-repeat;
}
.shop_remark{
	color: #5E5E5E;
	text-indent: 17px;
}
.hr_25{
	height: 15px;
	overflow: hidden;
}
.info .leftArea{
	width: 190px;
}
.recommend{
	border: 1px solid #CCC;
}
.recommend .title{
	height: 39px;
	border-bottom: 1px solid #CCC;
	line-height: 39px;
	text-indent: 15px;
	font-size: 14px;
	background-color: #F3F3F3;
}
.recommend .item{
	margin-bottom: 10px;
}
.item{
	position: relative;
}
.item_cont{
	padding: 0 15px;
}
.img_item{
	height: 170px;
	text-align: center;
}
.item p{
	line-height: 20px;
}
.item a{
	color: #000;
}
.img_item img{
	height: 170px;
}
.recommend .money{
	padding-top: 0;
}
.money{
	color: #D4105A;
	font-weight: bold;
}
.info .rightArea{
	width: 790px;
}
.content{
	border:1px solid #CCC;
	background-color: #FFF;
}
.con_title{
	border-bottom: 1px solid #CCC;
	height: 39px;
	background-color: #F3F3F3;
}
.con_title .active{
	background-color: #0479CA;
	font-weight: bold;
	color: #FFF;
	position: relative;
}
.con_title li{
	float: left;
	width: 50%;
	font:14px/39px "宋体";
	text-align: center;
	border-right: 1px solid #CCC；
	margin-right: -1px;
}
.con_title li:first-child span{
	background: url(../image/icon/content.png) left center no-repeat;
	padding-left: 32px;
	display: inline-block;
	line-height: 39px;
}
.con_title li:last-child span{
	background: url(../image/icon/comment.png) left center no-repeat;
	padding-left: 32px;
	display: inline-block;
	line-height: 39px;
}
.ad {
	padding: 30px 0;
	text-align: center;
}
.ad img{
	width: 580px;
	height: 151px;
}
.info_text{
	padding: 0 20px;
}
.info_tit{
	height: 26px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 18px;
}
.info_tit h3 {
	float: left;
	font-size: 16px;
	color: #2357A5;
	border-bottom: 1px solid #2357A5;
	height: 26PX;
	margin-bottom: -1px;
	position: relative;
	padding-right: 8px;
}
.info_tit h4{
	font-size: 12px;
	line-height: 26px;
	padding-left: 4px;
	color: #656565;
}
.info_text p{
	line-height: 22px;
	font-size: 14px;
	color: #656565;
}
.center{
	display: block;
	margin: 0 auto;
	width: 100%;
}
.comment_title{
	line-height: 38px;
	height: 38px;
	font-size: 14px;
	color: #656565;
	padding-left: 10px;
}
.score_box{
	padding-left: 10px;
	height: 120px;
}
.score{
	font-family: "Microsoft YaHei", "微软雅黑";
	float: left;
	margin-right: 10px;
}
.score span{
	font-size: 50px;
	color: #FF8F00;
}
.score em{
	font-size: 18px;
	color: #65657D;
	font-style: normal;
}
.score_speed{
	float: left;
	width: 450px;
	line-height: 16px;
	font-size: 12px;
	margin-top: 12px;
	position: relative;
}
.score_text{
	height: 16px;
	overflow: hidden;
	background-color: #BDBDBD;
	color: #FFF;
	margin-bottom: 10px;
}
.score_text li{
	float: left;
	width: 20%;
	text-align: center;
}
.score_num{
	text-align: center;
	position: absolute;
	left: 94%;
	top:-21px;
	width: 25px;
	height: 14px;
	background-color: #7F7F7F;
	color: #FFF;
}
.score_num i{
	border-width: 8px;
	border-style: solid dashed dashed dashed;
	margin-top: -2px;
	display: inline-block;
	border-color: #7F7F7F transparent transparent transparent;
	width: 0; 
	height: 0;
}
.review_tab{
	height: 32px;
	background-color: #f2f2f2;
}
.review{
	line-height: 32px;
	height: 100%;
	padding-left: 20px;
}
.review li{
	float: left;
	height: 100%;
	margin-right: 40px;
}
.review .active{
	color: #317DE6;
	font-weight: bold;
	border-bottom: 2px solid #317DE6;
	margin-bottom: -2px;
	position: relative;
}
.review li a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
}
.review_sort {
	padding: 5px;
}
.review_sort a{
	margin-left: 5px;
	display: inline-block;
	line-height: 20px;
	border: 1px solid #CCC;
	padding: 0 20px 0 6px;
	background: url(../image/icon/down_3.png) right center no-repeat;
}
.review_list{
	padding-top: 18px;
	margin-bottom: 10px;
}
.review_user{
	width: 170px;
}
.user_box{
	width: 60px;
	text-align: center;
	margin-left: 40px;
}
.user_box p{
	line-height: 20px;
}
.user_box img{
	width: 60px;
	height: 60px;
	display: block;
	margin: 2px;
}
.review_cont{
	padding-left: 170px;
}
.review_top{
	height: 24px;
	padding-top: 4px;
}
.star_text{
	font-weight: bold;
	padding-left: 10px;
}
.star_box .stars{
	margin-top: 1px;
}
.stars{
	width: 13px;
	height: 12px;
	overflow: hidden;
	background: url(../image/icon/collection.png) left center/13px 12px no-repeat;
	display: inline-block;
	margin-right: 1px;
}
.review_cont p{
	line-height: 30px;
}
.page{
	text-align: center;
}
.page a{
	height: 24px;
	line-height: 24px;
	display: inline-block;
	border: 1px solid #CCC;
	padding: 0 12px;
	margin: 0 2px;
}
.page .ellipsis{
	display: inline-block;
	padding: 0 12px;
	margin: 0 2px;
}
.morePage{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}
.pageNum{
	width: 29px;
	padding: 0 3px;
	border: 1px solid #CCC;
	height: 24px;
	text-align: center;
}
.page_btn{
	width: 44px;
	height: 24px;
	background-color: #E8E8E8;
	border: 1px solid #CCC;
}
.hr_45{
	height: 45px;
}
/*底部*/
.footer{
	width: 100%;
	min-height: 140px;
	background-color: #D4D4D4;
	padding: 40px 0;
}
.footer p{
	font-family: "Microsoft YaHei", "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	color: #000;
}

.hrefs a{
	color: #000;
}
.hrefs a:hover{
	color: #F60;
	cursor: pointer;
}
.hrefs_pic{padding-top: 40px;}
.hrefs_pic a img{margin: 0 10px;}

















