@charset "utf-8";
/*头部区域*/
.header{
	position: relative;
	width: 100%;
	height: 84px;
	background-color: #1D7AD9;
}
.header_box{
	width: 480px;
	height: 84px;
	margin-left: auto;
	margin-right: auto;
}
.log_img{
	margin-top: 13px;
	float: left;
}
.header_box h3{
	position: absolute;
	letter-spacing: 4px;
	font: 22px/85px "Microsoft YaHei", "微软雅黑";
	color: #fff;
	overflow: clip;
	white-space: nowrap;
	margin-left: 136px;
	margin-top: auto;
	margin-bottom: auto;
}
/*注册主体*/
.register_body{
	width: 100%;
	min-height: 610px;
	background-color: #fff;
}
.register_box{
	width: 630px;
	height: 512px;
	border:1px solid #CCCCCC;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.register_list{
	width: 450px;
	height: 422px;
	margin-right: auto;
	margin-left: auto; 
}
.register_list li{
	float: left;
}
.register_list li label{
	font: 14px/34px "宋体";
    width: 110px;
    margin-top: 38px;
    text-align: right;
    float: left;
}
.register_list li label span{
	font-style: normal;
    color: red;
    margin-right: 5px;
}
.username{
	width: 270px;
	height: 32px;
	margin-top: 36px;
	border: 1px solid #CCC;
	text-indent: 5px;
	background: url("../image/icon/user.png") 98% center no-repeat;
}
.setpassword{
	width: 270px;
	height: 32px;
	margin-top: 36px;
	text-indent: 5px;
	border: 1px solid #CCC;
	background: url("../image/icon/pwd.png") 98% center no-repeat;
}
.confirmpassword{
	width: 270px;
	height: 32px;
	margin-top: 36px;
	text-indent: 5px;
	border: 1px solid #CCC;
	background: url("../image/icon/pwd.png") 98% center no-repeat;
}
.email{
	width: 270px;
	height: 32px;
	margin-top: 36px;
	text-indent: 5px;
	border: 1px solid #CCC;
	background: url("../image/icon/email_icon.png") 98% center no-repeat;
}
.addr{
	width: 270px;
	height: 32px;
	margin-top: 36px;
	text-indent: 5px;
	border: 1px solid #CCC;
	background: url("../image/icon/addr_icon.png") 98% center no-repeat;
}
.accept{
	margin-top: 36px;
	position: relative;
	top:3px;
	margin-left: -1px;
}
.submit{
	width: 278px;
	height: 36px;
	margin-top: 10px;
	margin-left: -1px;
	border: 1px solid #CCC;
	border-radius: 1px;
	background:linear-gradient(#fafafa, #d0d0d0); 
}

/*底部*/
.footer{
	width: 100%;
	min-height: 140px;
	background-color: #D4D4D4;
	padding: 40px 0;
}
.footer p{
	font-family: "Microsoft YaHei", "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	color: #000;
}

.hrefs a{
	color: #000;
}
.hrefs a:hover{
	color: #F60;
	cursor: pointer;
}
.hrefs_pic{padding-top: 40px;}
.hrefs_pic a img{margin: 0 10px;}





